.p-30{
    padding: 30px;
}

.mr-5{
    margin-right: 5px;
}

.mv-right{
    float: right;
}

.no-data{
    color: red;
}

.error-text-class{
    color: red;
}

.loader-spinner{
    position: absolute;
    z-index: 999;
    left: 50%;
    top: 50%;
    margin-left: auto;
    margin-right: auto;
}